<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recruiter Rule Engine</title>
</head>

<body>
    <p>
        Hello,
        {{user_name}} has a new candidate for you: {{name}}.<br>
        Here is some information: <br>
        {{years_of_XP}} years of experience. <br>
        Education: {{education}} <br>
        Skills: {{skills}} <br>
        You can contact {{name}} via email at {{email}} or LinkedIn at {{linkedin_url}}. <br>
    </p>
    <p>
        Feel free to reach out to me with any questions at {{user_email}}.
    </p>
    <p>Thank you, <br>
        {{user_name}} <br>
        {{user_email}}
    </p>
    <footer>This email was sent to you by {{user_name}} using the Recruiter Rule Engine platform. <br>
        Recruiter Rule Engine &copy; 2019</footer>
</body>

</html>